# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/

# Django migrations
*/migrations/

# Environment files
.env
*.env
.env.*

# PyCharm specific files
.idea/
*.iml

# Virtual environment
venv/
ENV/
.venv/

# Cache and logs
*.cache
*.mo
*.pid
*.swp

# Python virtualenv
pip-log.txt
pip-delete-this-directory.txt

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
